body > div {
  margin: 0 auto;
}
  
.textcontainer {
  margin: 0 auto;
}

span:first-child {
  font: 15vh 'Arial Black';
}

#message {
  text-align: center;
  
  font-size: 3vh;
}

#pics {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#pics > img {
  display: block;

  margin: 5vh 0;

  width: 35vh;
  height: 35vh;
}