<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="./assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/draw.css">
    <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="./assets/js/cd300.js"></script>
    <script type="text/javascript" src="./assets/js/draw.js"></script>
    <script type="text/javascript" src="./assets/js/ptext.js"></script>
    <script type="text/javascript" src="./assets/js/stamp.js"></script>
  </head>
  <body onload="init()" oncontextmenu="return false;">
    <!-- header -->
    <div id="header">
      <div id="end">END</div>
      <div id="timer"></div>
      <img id="logo" src="./assets/src/logo.png">
    </div>
    
    <!-- content -->
    <div id="content-nofooter">
      <div id="top">
        <div id="tool">
          <table id="tool-top">
            <tr>
              <td><img src="./assets/src/eraser.png"></td>
              <td onclick="tool(1); changeLineWidth(20)"><img src="./assets/src/pen-big.png"></td>
              <td onclick="tool(1); changeLineWidth(15)"><img src="./assets/src/pen-medium.png"></td>
              <td onclick="tool(1); changeLineWidth(10)"><img src="./assets/src/pen-small.png"></td>
            </tr>
            <tr>
              <td><img onclick="back()"src="./assets/src/undo.png"></td>
              <td><img src="./assets/src/rotate-reverseclock.png"></td>
              <td><img src="./assets/src/rotate-clock.png"></td>
              <td><img onclick="next()" src="./assets/src/redo.png"></td>
            </tr>
          </table>
          <table id="pallet">
            <tr>
              <td><div id="color-deepred" onclick="changeColor(1)"></div></td>
              <td><div id="color-purple" onclick="changeColor(5)"></div></td>
              <td><div id="color-green" onclick="changeColor(11)"></div></td>
              <td><div id="color-vividgreen" onclick="changeColor(16)"></div></td>
            </tr>
            <tr>
              <td><div id="color-red" onclick="changeColor(2)"></div></td>
              <td><div id="color-blue" onclick="changeColor(7)"></div></td>
              <td><div id="color-yellow" onclick="changeColor(12)"></div></td>
              <td><div id="color-darkgreen" onclick="changeColor(17)"></div></td>
            </tr>
            <tr>
              <td><div id="color-salmonpink" onclick="changeColor(3)"></div></td>
              <td><div id="color-deepblue" onclick="changeColor(8)"></div></td>
              <td><div id="color-vividorange" onclick="changeColor(13)"></div></td>
              <td><div id="color-gray" onclick="changeColor(18)"></div></td>
            </tr>
            <tr>
              <td><div id="color-hotpink" onclick="changeColor(4)"></div></td>
              <td><div id="color-lightblue" onclick="changeColor(9)"></div></td>
              <td><div id="color-orange" onclick="changeColor(14)"></div></td>
              <td><div id="color-black" onclick="changeColor(19)"></div></td>
            </tr>
            <tr>
              <td><div id="color-pink" onclick="changeColor(5)"></div></td>
              <td><div id="color-vividblue" onclick="changeColor(10)"></div></td>
              <td><div id="color-beige" onclick="changeColor(15)"></div></td>
              <td><div id="color-white" onclick="changeColor(20)"></div></td>
            </tr>
          </table>
        </div>
        <div id="canvas-box">
          <canvas id="imageCanvas" width=466 height=466></canvas>
          <canvas id="canvas" width=466 height=466></canvas>
          <canvas id="eventCanvas" width=466 height=466></canvas>
        </div>
        <div id="zoom">
          <div id="zoom-in">
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
            </div>
          </div>
          <div id="zoom-out">
            <div class="row">
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col"></div>
            </div>
          </div>
        </div>
        <div id="picture">
          <input id="picture-1" type="radio" name="picture" checked="checked">
          <label for="picture-1">
            <img onclick="switchPic(1)" src="./assets/photos/draw_0.png">
          </label>
          <input id="picture-2" type="radio" name="picture">
          <label for="picture-2">
            <img onclick="switchPic(2)" src="./assets/photos/draw_1.png">
          </label>
          <input id="picture-3" type="radio" name="picture">
          <label for="picture-3">
            <img onclick="switchPic(3)" src="./assets/photos/draw_2.png">
          </label>
        </div>
      </div>
      <div id="bottom">
        <input id="tab-1" type="radio" name="tab" checked="checked">
        <label for="tab-1">スタンプ1</label>
        <div>
          <input id="tab-1-1" type="radio" name="tab-tab-1" checked="checked">
          <label for="tab-1-1">日本語スタンプ</label>
          <div>
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
          </div>
          <input id="tab-1-2" type="radio" name="tab-tab-1">
          <label for="tab-1-2">英語スタンプ</label>
          <div>
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
          </div>
          <input id="tab-1-3" type="radio" name="tab-tab-1">
          <label for="tab-1-3">韓国語スタンプ</label>
          <div>
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
          </div>
        </div>
        <input id="tab-2" type="radio" name="tab">
        <label for="tab-2">スタンプ2</label>
        <div>
          <input id="tab-2-1" type="radio" name="tab-tab-2" checked="checked">
          <label for="tab-2-1">絵文字</label>
          <div>
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
          </div>
          <input id="tab-2-2" type="radio" name="tab-tab-2">
          <label for="tab-2-2">動物スタンプ</label>
          <div>
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
            <img src="./assets/src/square.png">
          </div>
        </div>
        <input id="tab-3" type="radio" name="tab">
        <label for="tab-3">文字入力</label>
        <div>
          <input id="i_text" type="text" placeholder="入力...">
          <table>
            <tr>
              <td id="font-weight-2" onclick="putText(20)">あ</td>
              <td id="font-weight-4" onclick="putText(20)">あ</td>
            </tr>
            <tr>
              <td id="font-weight-6" onclick="putText(20)">あ</td>
              <td id="font-weight-8" onclick="putText(20)">あ</td>
            </tr>
          </table>
        </div>
        <input id="tab-4" type="radio" name="tab">
        <label for="tab-4">お絵かき</label>
        <div>
          <table id="pen">
            <tr>
              <td><img src=""></td>
              <td><img src=""></td>
              <td><img src=""></td>
              <td><img src=""></td>
              <td><img src=""></td>
            </tr>
          </table>
          <table id="pen-weight">
            <tr>
              <td><img src=""></td>
              <td onclick="tool(0); changeLineWidth(20)"><img src="./assets/src/pen-big.png"></td>
              <td onclick="tool(0); changeLineWidth(20)"><img src="./assets/src/pen-medium.png"></td>
              <td onclick="tool(0); changeLineWidth(20)"><img src="./assets/src/pen-small.png"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
