<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>openPurikura</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <div class="row start-top-row">
        <div class="col-lg-9 offset-lg-1"><span class="start-main-title">openPurikura Platform</span></div>
    </div>
    <div>
        <div class="container">
            <div class="row start-row">
                <div class="col-lg-6 offset-lg-3"><a href="/register"><button class="btn btn-primary start-button" type="button">Tap to Go!</button></a></div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>