<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, maximum-scale=1" />

    <title>HUGっとプリクラ</title>
    <link rel="stylesheet" type="text/css" href="./assets/css/purikuracss.css" />
    <script src="./assets/js/oekaki.js"></script>
    <script src="./assets/js/ptext.js"></script>
    <script src="./assets/js/stamp.js"></script>
  </head>

  <body onload="init()" oncontextmenu="return false;">
    <img id="pencil" src="./assets/button/pencil.png" width="35px" class="active" onClick="tool(0)">
    <img id="eraser" src="./assets/button/eraser.png" width="35px" onClick="tool(1)">
    <img id="stamp"  src="./assets/button/cstamp.png" width="35px" onClick="tool(2)">

    <img id="back_butt" src="assets/button/back.png" width="35px" onClick="back()">
    <img id="next_butt" src="assets/button/next.png" width="35px" onClick="next()">

    <table>
      <tr>
        <td id="weight-2">あ</td>
        <td id="weight-4">あ</td>
      </tr>
      <tr>
        <td id="weight-6">あ</td>
        <td id="weight-8">あ</td>
      </tr>
    </table>
    <input type="text" id="itext" value="" style="background-color: black">

    <input type="button" class="pencolor" onclick="changeColor(1)" value="dre" />
    <input type="button" class="pencolor" onclick="changeColor(2)" value="red" />
    <input type="button" class="pencolor" onclick="changeColor(3)" value="sre" />
    <input type="button" class="pencolor" onclick="changeColor(4)" value="hre" />
    <input type="button" class="pencolor" onclick="changeColor(5)" value="pin" />
    <input type="button" class="pencolor" onclick="changeColor(6)" value="pur" />
    <input type="button" class="pencolor" onclick="changeColor(7)" value="blu" />
    <input type="button" class="pencolor" onclick="changeColor(8)" value="dbl" />
    <input type="button" class="pencolor" onclick="changeColor(9)" value="lbl" />
    <input type="button" class="pencolor" onclick="changeColor(10)" value="vbl" />
    <input type="button" class="pencolor" onclick="changeColor(11)" value="gre" />
    <input type="button" class="pencolor" onclick="changeColor(12)" value="ylw" />
    <input type="button" class="pencolor" onclick="changeColor(13)" value="vor" />
    <input type="button" class="pencolor" onclick="changeColor(14)" value="ora" />
    <input type="button" class="pencolor" onclick="changeColor(15)" value="bei" />
    <input type="button" class="pencolor" onclick="changeColor(16)" value="vgr" />
    <input type="button" class="pencolor" onclick="changeColor(17)" value="dgr" />
    <input type="button" class="pencolor" onclick="changeColor(18)" value="gry" />
    <input type="button" class="pencolor" onclick="changeColor(19)" value="blk" />
    <input type="button" class="pencolor" onclick="changeColor(20)" value="whi" />

    <input type="button" onclick="putString()" />

    <!-- header -->
    <div id="header">
      <div id="end">END</div>
      <div id="timer"></div>
      <img id="logo" src="./assets/logo.png">
    </div>

    <!-- content -->
    <div id="content">
      <div id="top">
        <div id="tool">
          <table id="pen">
            <tr>
              <td>消し<br>ゴム</td>
              <td><div id="pen-l"></div></td>
              <td><div id="pen-m"></div></td>
              <td><div id="pen-s"></div></td>
            </tr>
          </table>
          <table id="pallet">
            <tr>
              <td><div id="color-red"></div></td>
              <td><div id="color-deepred"></div></td>
              <td><div id="color-salmonpink"></div></td>
              <td><div id="color-pink"></div></td>
            </tr>
            <tr>
              <td><div id="color-yellow"></div></td>
              <td><div id="color-vividgreen"></div></td>
              <td><div id="color-orange"></div></td>
              <td><div id="color-vividorange"></div></td>
            </tr>
            <tr>
              <td><div id="color-vividblue"></div></td>
              <td><div id="color-deepblue"></div></td>
              <td><div id="color-blue"></div></td>
              <td><div id="color-green"></div></td>
            </tr>
            <tr>
              <td><div id="color-black"></div></td>
              <td><div id="color-gray"></div></td>
              <td><div id="color-white"></div></td>
              <td><div id="color-beige"></div></td>
            </tr>
          </table>
          <div id="back"></div>
        </div>
        <div id="canvas-box">
            <canvas id="canvas" width=466 height=466></canvas>
            <canvas id="imageCanvas" width=466 height=466></canvas>
            <canvas id="eventCanvas" width=466 height=466></canvas>
        </div>
        <div id="zoom">
          <div id="zoom-in">
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
            </div>
          </div>
          <div id="zoom-out">
            <div class="row">
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col"></div>
            </div>
          </div>
        </div>
        <div id="picture-box">
          <img id="picture1" src="assets/picture/picture1.png" onClick="switchPic(1)"
            class="active">
          <img id="picture2" src="assets/picture/picture2.png" onClick="switchPic(2)">
          <img id="picture3" src="assets/picture/picture3.png" onClick="switchPic(3)">
        </div>
      </div>
      <div id="bottom">

      </div>
    </div>
  </body>
</html>
