<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>openPurikura</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body class="register">
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">openPurikura</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/">◀Return</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid warnings-and-register">
        <div class="row warnings-row">
            <div class="col-lg-6 offset-lg-3 warnings-col">
                <p class="warnings-header">Warning</p>
                <p class="warnings">warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning&nbsp;warning</p>
            </div>
        </div>
        <div class="row email-row">
            <div class="col-lg-6 offset-lg-3 register-form-col">
                <form action="/register" method="post">
                    <p class="register-form-header">Name</p><input class="form-control register-input" type="text" id="register-name" placeholder="Ken" name="name">
                    <p class="warnings-header">E-mail address</p><input class="form-control register-input" type="email" id="register-email" placeholder="user@example.com" name="email">
                    <div class="form-row register-submit-row">
                        <div class="col">
                            <div class="container"><button class="btn btn-primary register-confirm-button" type="submit" id="submit-button">Accept &amp; Continue</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>