<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="./assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/register.css">
    <script type="text/javascript" src="./assets/js//jquery.min.js"></script>
    <script type="text/javascript" src="./assets/js/cd60.js"></script>
  </head>
  <body>
    <form id="form" method="POST" action="/register">
      <!-- header -->
      <div id="header">
        <div id="timer"></div>
        <img id="logo" src="./assets/src/logo.png">
      </div>
      
      <!-- content -->
      <div id="content">
        <div id="terms">
          <p>
            3年電子情報工学科企画「ハグっと！プリクラ」(以下，「当企画」といいます．)は，
            本アプリケーション上で提供するサービス(以下，「本サービス」といいます．)における
            プライバシー情報の取り扱いについて，
            以下のとおりプライバシーポリシーを定めます．
          </p>
          <h5>第1条(用語の定義)</h5>
          <ol>
            <li>
              「個人情報」とは，ユーザーが本サービスに入力したメールアドレス，ニックネームを指します．
            </li>
            <li>
              「写真」とは，本サービスが撮影した写真，(背景などの)加工をした写真，
              本サービス上でユーザーが絵を描き加えた写真の3種類を指します．
            </li>
          </ol>
          <h5>第2条(個人情報を収集・利用する目的)</h5>
          <p>
            本企画が収集した個人情報は，ユーザーに対して電子メールで写真を送信する目的でのみ利用されます．
          </p>
          <h5>第3条(個人情報・写真の第三者提供)</h5>
          <p>
              当企画は，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません．
              ただし，個人情報保護法その他の法令で認められる場合を除きます．
          </p>
        </div>
        <input id="accept" type="checkbox" name="agree" value="1" required="required">
        <label for="accept">以上の利用規約に同意します</label>
        <p id="note">
          メールアドレスをご登録いただくことで，撮った写真をお手元に残すことができます．<br>
          未入力でもご体験いただけますが，写真は保存されません．<br>
          また，本サービスはプリントシールでのご提供はございませんので，ご了承ください．
        </p>
        <input name="email" type="email" autocomplete="off" placeholder="メールアドレス">
        <input name="name" type="text" autocomplete="off" placeholder="ニックネーム">
      </div>
      
      <!-- footer -->
      <div id="footer">
        <input id="next" type="submit">
        <label for="next">NEXT→</label>
      </div>
    </form>
  </body>
</html>
