<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/animation-dot.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/retouching.css">
  </head>
  <body>
    <div id="header">
      <img id="logo" src="./assets/src/logo.png">
    </div>
    <div id="content-nofooter">
      <div class="canvas">
          <div class="line">
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
          </div>
          <div class="line">
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
          </div>
          <div class="line">
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
          </div>
          <div class="line">
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
          </div>
          <div class="line">
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
          </div>
          <div class="line">
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
          </div>
          <div class="line">
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
            <div class="dot dot--aqua"></div>
          </div>
          <div class="line">
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
            <div class="dot dot--gold"></div>
          </div>
          <div class="line">
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
            <div class="dot dot--tomato"></div>
          </div>
        </div>
        <div id="message">画像を作成しています…</div>
    </div>
  </body>
</html>