<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/select1.css">
    <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="./assets/js/cd60.js"></script>
    <script type="text/javascript" src="./assets/js/selected.js"></script>
  </head>
  <body>
    <form id="form" method="POST" action="/select1">
      <div id="header">
        <div id="caption">壁紙を選ぼう！</div>
        <div id="timer"></div>
        <img id="logo" src="./assets/src/logo.png">
      </div>
      <div id="content-nofooter">
        <input id="pack-0" type="radio" name="pack" value="0" checked="checked">
        <label for="pack-0">
          <div class="pack-name">柳沼先生パック</div>
          <div class="pack-view">
            <img class="pack-view-left" src="./assets/src/background/pack-0/bg-1.png">
            <img class="pack-view-middle" src="./assets/src/background/pack-0/bg-2.png">
            <img class="pack-view-middle" src="./assets/src/background/pack-0/bg-3.png">
            <img class="pack-view-middle" src="./assets/src/background/pack-0/bg-4.png">
            <img class="pack-view-right" src="./assets/src/background/pack-0/bg-5.png">
            <img class="pack-view-right" src="./assets/src/background/pack-0/bg-5.png">
          </div>
        </label>
        <input id="pack-1" type="radio" name="pack" value="1">
        <label for="pack-1">
          <div class="pack-name">柳沼先生パック</div>
          <div class="pack-view">
              <img class="pack-view-left" src="./assets/src/background/pack-1/bg-1.png">
              <img class="pack-view-middle" src="./assets/src/background/pack-1/bg-2.png">
              <img class="pack-view-middle" src="./assets/src/background/pack-1/bg-3.png">
              <img class="pack-view-middle" src="./assets/src/background/pack-1/bg-4.png">
              <img class="pack-view-right" src="./assets/src/background/pack-1/bg-5.png">
          </div>
        </label>
        <input id="pack-2" type="radio" name="pack" value="2">
        <label for="pack-2">
          <div class="pack-name">柳沼先生パック</div>
          <div class="pack-view">
              <img class="pack-view-left" src="./assets/src/background/pack-2/bg-1.png">
              <img class="pack-view-middle" src="./assets/src/background/pack-2/bg-2.png">
              <img class="pack-view-middle" src="./assets/src/background/pack-2/bg-3.png">
              <img class="pack-view-middle" src="./assets/src/background/pack-2/bg-4.png">
              <img class="pack-view-right" src="./assets/src/background/pack-2/bg-5.png">
          </div>
        </label>
        <input id="pack-3" type="radio" name="pack" value="3">
        <label for="pack-3">
          <div class="pack-name">柳沼先生パック</div>
          <div class="pack-view">
              <img class="pack-view-left" src="./assets/src/background/pack-3/bg-1.png">
              <img class="pack-view-middle" src="./assets/src/background/pack-3/bg-2.png">
              <img class="pack-view-middle" src="./assets/src/background/pack-3/bg-3.png">
              <img class="pack-view-middle" src="./assets/src/background/pack-3/bg-4.png">
              <img class="pack-view-right" src="./assets/src/background/pack-3/bg-5.png">
          </div>
        </label>
        <input id="pack-4" type="radio" name="pack" value="4">
        <label for="pack-4">
          <div class="pack-name">柳沼先生パック</div>
          <div class="pack-view">
              <img class="pack-view-left" src="./assets/src/background/pack-4/bg-1.png">
              <img class="pack-view-middle" src="./assets/src/background/pack-4/bg-2.png">
              <img class="pack-view-middle" src="./assets/src/background/pack-4/bg-3.png">
              <img class="pack-view-middle" src="./assets/src/background/pack-4/bg-4.png">
              <img class="pack-view-right" src="./assets/src/background/pack-4/bg-5.png">
          </div>
        </label>
      </div>
      <div id="footer">
        <input id="next" type="submit">
        <label for="next">NEXT→</label>
      </div>
    </form>
  </body>
</html>