<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, maximum-scale=1" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="./assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/take.css">

    <script type="text/javascript">
      take_num = {{ take_num }};
      cache_num = {{ cache_num }};
    </script>
    <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="./assets/js/cd5.js"></script>
  </head>
  <body>
    <a id="redirect" href="/whiteout"></a>
    <div id="header">
      <div id="caption">撮影しよう！</div>
      <img id="logo" src="./assets/src/logo.png">
    </div>
    <div id="content-nofooter">
      <div id="top">
        <div class="timer-box">
          <div class="timer"></div>
        </div>
        <div id="screen-box">
          <img id="pause" src="./assets/src/pause.png">
          <div id="video-box">
            <img id="video" src="{{ url_for('video_feed') }}">
          </div>
        </div>
        <div class="timer-box">
          <div class="timer"></div>
        </div>
      </div>
      <div id="bottom">
        <div>
          {% for i in range(1, take_num) %}
            <img id="pic-{{ i }}" class="border-right" src="./assets/photos/c{{ cache_num }}_{{ i }}_before.png">
          {% endfor %}
          {% for i in range(take_num, 6) %}
            <img id="pic-{{ i }}" class="border-right" src="./assets/src/white.png">
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
